.About {
    color: white;
    margin-top: 50px;
    margin-left: 170px;
}


@media screen and (max-width:576px) {
    .xl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .About {
        text-align: center;
        margin-left: 0;
    }
}