.Contact {
    color: white;
    margin-top: 50px;
    margin-left: 170px;
}

.Contact a {
    color: white;
}

@media screen and (max-width:576px) {
    .Contact {
        margin-left: 0;
        text-align: center;
    }
}